<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.govnod.cube"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="35" />

    <application
        android:label="Govnod Cube"
        android:hasCode="false"
        android:extractNativeLibs="true"
        android:allowBackup="false">

        <activity
            android:name="android.app.NativeActivity"
            android:label="Govnod Cube"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|density|uiMode">

            <meta-data android:name="android.app.lib_name" android:value="gmcube" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
